:root {
  --background: white;
  --text-primary: black;
  --button-bg: black;
  --button-text: white;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --button-bg: white;
  --button-text: black;
}

.light-dark-mode {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all 0.8s;
}

.theme-mode {
  padding: 10px;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  justify-items: baseline;
  justify-self: baseline;
  align-self: baseline;
  border: none;
  cursor: pointer;
}

.theme-mode:hover {
  opacity: 0.8;
}
