@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  transition: all 0.8s;
}
/*  */
:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
}

.app {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app h2 {
  display: flex;
  display: inline-block;
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  background: var(--title-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 1.5rem;
}

.search {
  width: 50%;
  margin: 1% 2rem;
  font-size: 1.5rem;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.addInput {
  display: flex;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.studentsDataInfo {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--text-primary);
}
.studentsDataInfo h2 {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--text-primary);
}
table {
  border-collapse: collapse;
}
.studentsDataInfo td {
  padding: 1rem;
  border: 1px solid var(--text-primary);
  padding-bottom: 0.5rem;
}
.studentsDataInfo tfoot {
  /* padding:22 px; */
  margin: 0px;
  padding: 0px;
  border: 1 solid var(--text-primary);
}
.studentsDataInfo th {
  text-align: center;
  border: 1px solid var(--text-primary);
  padding: 0.5rem;
}

.StudentsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
.AddAndCancel {
  text-align: center;
}
.AddAndCancel button {
  font-family: Bebas Neue;
  cursor: pointer;
  border-color: black;
  padding: 1.5rem 2rem;
  border-radius: 0.625rem; /* Equivalent to 10px */
  box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem; /* Equivalent to 1px */
  margin-top: 1rem; /* Equivalent to 10px */
  margin-left: 3rem;
}
.editButton {
  font-family: Bebas Neue;
  cursor: pointer;
  border-color: black;
  padding: 1rem 1rem; /* Adjusted for better padding */
  border-radius: 0.625rem; /* Equivalent to 10px */
  box-shadow: 0.06rem 0.06rem 0.06rem 0.06rem var(--text-primary); /* Equivalent to 1px */
  margin: 1rem;
}
.Drop-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  gap: 10px;
}

.css-b62m3t-container {
  text-align: center;
  min-width: 200px;
  color: black;
}
button:hover {
  background-color: hsl(213, 10%, 10%);
}
.table {
  width: 90%;
  font-size: 2rem;
  margin: 2rem;
}
.error {
  margin-top: 1rem;
  color: red;
  font-size: 1rem;
}
.save {
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 2rem; /* Set the width and height to create a circle */
  height: 2rem;
  border-radius: 50%; /* Make the button a circle */
  border: none;
  background-color: #6ea8fe; /* Set the background color to blue */
  cursor: pointer;
  margin-right: 1.5rem;
}

.save svg {
  color: white; /* Set the color of the check sign to contrast with the blue background */
}
.cancel {
  align-items: center;
  justify-content: center;
  width: 2rem; /* Set the width and height to create a circle */
  height: 2rem;
  border-radius: 50%; /* Make the button a circle */
  border: none;
  background-color: red; /* Set the background color to red */
  cursor: pointer;
}
th {
  background-color: var(--nth-child-bg);
}
.EditAndDelete {
  padding: 0rem;
  margin: 0rem auto;
}
.cancel .cancel-sign {
  color: white;
  flex-direction: row;
}
.studentsDataInfo td {
  text-align: center;
  padding: 1rem 0rem;
  padding-bottom: 0.5rem;
}

.error {
  margin-top: 0.5rem;
  color: red;
  font-size: 1rem;
}
.loading {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: var(--title-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 1.5rem;
}

/* Styles for even rows */
tr:nth-child(even) {
  background-color: var(--nth-child-bg); /* Alternate row background color */
}

/* Hover styles for rows */
tr:hover {
  background-color: #495057; /* Hover color for rows */
}
.light-dark-mode {
  display: flex;
  position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
  top: 1rem; /* Adjusts the distance from the top of the viewport */
  left: 1rem; /* Adjusts the distance from the left of the viewport */
  align-items: center; /* Centers elements vertically within the container */
  user-select: none;
  font-size: 1rem;
}
.theme-mode:hover {
  cursor: pointer;
  opacity: 0.4;
}

.theme-mode {
  height: auto;
  width: 50%;
}
.theme-mode-on {
  height: auto;
  width: 50%;
}
.theme-mode-off {
  height: auto;
  width: 50%;
}
@media screen and (max-width: 600px) {
  * {
    transition: all 0.4s;
  }
  /* Styles for the search input */
  .light-dark-mode {
    top: 3rem; /* Adjusts the distance from the top of the viewport */
    left: 0.4rem; /* Adjusts the distance from the left of the viewport */
    font-size: 0.7rem;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }
  .theme-mode {
    bottom: 1rem;
    width: 40%;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }
  .theme-mode-on {
    bottom: 1rem;
    left: 3rem;
    width: 40%;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }
  .theme-mode-off {
    bottom: 1rem;
    left: 3rem;
    width: 40%;
    display: flex;
    position: absolute; /* Makes it move to the absolute position relative to the nearest positioned ancestor */
    height: auto;
  }

  .loading {
    font-weight: bold;
    font-size: 1rem;
    padding: 0rem;
    margin: 0.5rem;
    text-align: center;
  }
  .search {
    width: 80%; /* Adjust width */
    margin: 0.5rem auto; /* Center horizontally */
    font-size: 1rem; /* Adjust font size */
  }
  .editButton {
    width: 80%;
    font-size: 0.6rem;
    padding: 0.5rem;
    margin: 0.1rem;
    margin-top: 0.5rem;
  }

  /* Styles for the Add and Cancel buttons */
  .AddAndCancel {
    flex-direction: column; /* Stack buttons vertically */
    margin-top: 1rem; /* Add some space between buttons */
  }

  /* Styles for the Add and Cancel buttons individually */
  .AddAndCancel button {
    width: 80%; /* Adjust width */
    padding: 0.5rem;
    margin: 0.5rem auto; /* Center horizontally and add space between buttons */
  }
  .addInput {
    margin-left: 0.1rem;
    width: 96%;
    font-size: 0.5rem;
    padding: 0.5rem 0.2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px;
    transition: border-color 0.3s, box-shadow 0.3s; /* Add transition effect */
  }

  /* Add focus styles */
  .addInput:focus {
    border-color: #6ea8fe; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 0.2rem rgba(110, 168, 254, 0.5); /* Add box shadow on focus */
  }
  /* Styles for the table */
  .table {
    width: 90%; /* Adjust width */
    margin: 1rem auto; /* Center horizontally */
    font-size: 0.8rem; /* Adjust font size */
    overflow-x: auto; /* Add horizontal scroll if needed */
  }

  /* Styles for table cells */
  th,
  td {
    padding: 0.5rem; /* Adjust padding */
    padding-top: 0.5rem !important;
    text-align: center; /* Center text */
    margin: 0rem;
  }

  /* Styles for error messages */
  .error {
    margin-top: 0.5rem; /* Add some space */
    font-size: 0.8rem; /* Adjust font size */
  }

  /* Styles for save and cancel buttons */
  .save,
  .cancel {
    width: 60%; /* Adjust width */
    height: auto; /* Allow height to adjust based on content */
    margin: 0.5rem auto; /* Center horizontally and add space */
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
[data-theme="dark"] {
  --background: #212529;
  --text-primary: white;
  --button-bg: #272b30;
  --button-text: white;
  --input-bg: #151618;
  --nth-child-bg: #343a40;
  --title-text-color: linear-gradient(
    180deg,
    rgb(255, 255, 255) 10%,
    rgb(103, 157, 195) 100%
  );
}
[data-theme="light"] {
  --background: rgb(227, 227, 227);
  --text-primary: black;
  --button-bg: #272b30;
  --button-text: white;
  --input-bg: white;
  --nth-child-bg: silver;
  --title-text-color: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(135, 147, 214) 100%
  );
}
body {
  background-color: var(--background);
  color: var(--text-primary);
}
button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

input {
  background-color: var(--input-bg);
  color: var(--text-primary);
}
